---
title: Ottoman - Open Furniture
---

<div class="furniture__intro">
  <div class="row">
    <div class="col-6">
      <div class="furniture__intro-cover">
        <%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/covers/ottoman__cover.png', class: 'furniture__intro-photo' %>
      </div>
    </div>
    <div class="col-6">
      <div class="furniture__intro-description">
        <h1 class="furniture__intro-title">Ottoman</h1>
        <h5 class="furniture__intro-subtitle">For extra comfort and addition to the Sofa.</h5>
        <p class="furniture__intro-size">
          Length: 800mm <br>
          Height: 450mm <br>
          Width: 800mm
        </p>
        <p class="furniture__intro-seats"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/people-icon.svg', class: 'furniture__people-icon' %> For 1 person</p>
        <a class="furniture__intro-download" href="https://s3-us-west-2.amazonaws.com/il-open-furniture/furniture-files/17.ICL_OSF_OTTOMAN.zip">Download</a>
      </div>
    </div>
  </div>
</div>

<div class="furniture__about">
  <div class="row">
    <div class="col-8">
      <div class="furniture__about-outline">
        <%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/outline/ottoman__outline.png', class: 'furniture__about-photo' %>
      </div>
    </div>
    <div class="col-3">
      <div class="furniture__about-description">
        <p class="furniture__about-title">What’s in the files? <br>
        —</p>
        <br>
        <p class="furniture__about-text">
          Once you download the files you are all set to assemble your furniture.<br>
          The files contain: <br>
          - A render image of the product.<br>
          - A .dxf file which should be handled to a local carpenter or maker who can cut-out the wood.<br>
          - A PDF with a how-to guide so you can assemble the product yourself, or with a little help from a buddy or carpenter.<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="catalog__items-container">
  <h1 class="furniture__related-title">Related Furniture</h1>
  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/stool.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/stool__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Stool</p>
        <p class="catalog__product-card-description">Cute and comfy</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/sofa.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/sofa__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Sofa</p>
        <p class="catalog__product-card-description">Kick back and chill</p>
      </div>
    </div>
  </div>
</div>
