---
title: Shelve - Open Furniture
---

<div class="furniture__intro">
  <div class="row">
    <div class="col-6">
      <div class="furniture__intro-cover">
        <%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/covers/side-table__cover.png', class: 'furniture__intro-photo' %>
      </div>
    </div>
    <div class="col-6">
      <div class="furniture__intro-description">
        <h1 class="furniture__intro-title">Side Table</h1>
        <h5 class="furniture__intro-subtitle">For books, deco, and more</h5>
        <p class="furniture__intro-size">
          Length: 600mm <br>
          Height: 400mm <br>
          Width: 600mm
        </p>
        <p class="furniture__intro-seats"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/people-icon.svg', class: 'furniture__people-icon' %> For 1 person</p>
        <a class="furniture__intro-download" href="https://s3-us-west-2.amazonaws.com/il-open-furniture/furniture-files/10.ICL_OSF_SIDE_TABLE.zip">Download</a>
      </div>
    </div>
  </div>
</div>

<div class="furniture__about">
  <div class="row">
    <div class="col-8">
      <div class="furniture__about-outline">
        <%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/outline/side-table__outline.png', class: 'furniture__about-photo' %>
      </div>
    </div>
    <div class="col-3">
      <div class="furniture__about-description">
        <p class="furniture__about-title">What’s in the files? <br>
        —</p>
        <br>
        <p class="furniture__about-text">
          Once you download the files you are all set to assemble your furniture.<br>
          The files contain: <br>
          - A render image of the product.<br>
          - A .dxf file which should be handled to a local carpenter or maker who can cut-out the wood.<br>
          - A PDF with a how-to guide so you can assemble the product yourself, or with a little help from a buddy or carpenter.<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="catalog__items-container">
  <h1 class="furniture__related-title">Related Furniture</h1>
  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/shelve.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/shelve__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Shelve</p>
        <p class="catalog__product-card-description">To hang on a wall</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/coffee-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/coffee-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Coffee Table</p>
        <p class="catalog__product-card-description">Gotta love coffee breaks</p>
      </div>
    </div>
  </div>
</div>
