---
title: Catalog - Open Furniture
---

<div class="catalog__cover">
  <h1 class="catalog__cover-title vertical align">The Catalog</h1>
</div>

<div class="catalog__items-container">
  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/service-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/service-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Service Table</p>
        <p class="catalog__product-card-description">Great for organizing goodies</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card">
        <a href="../furniture/standing-desk.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/stand-up-desk__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Stand-up Desk</p>
        <p class="catalog__product-card-description">Gotta move those legs sometimes</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/lounge.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/lounge__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Lounge</p>
        <p class="catalog__product-card-description">For that mid-day meditation</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/tall-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/tall-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Tall Table</p>
        <p class="catalog__product-card-description">Ideal for stand-up meetings</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/team-desk-large.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/team-desk-large__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Team Desk - Large</p>
        <p class="catalog__product-card-description">Team workstation for 4-6 people</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/tv-console.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/tv-console__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">TV Console</p>
        <p class="catalog__product-card-description">TV and gadgets in one place</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/booth.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/booth__product+shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Booth</p>
        <p class="catalog__product-card-description">For that mid-day meditation time</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/team-desk-medium.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/team-desk-medium__product+shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Team Desk - Medium</p>
        <p class="catalog__product-card-description">Team workstation for 2-4 people</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card">
        <a href="../furniture/cart.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/cart__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Cart</p>
        <p class="catalog__product-card-description">Sometimes you need to move stuff around</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/stool.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/stool__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Stool</p>
        <p class="catalog__product-card-description">Cute and comfy</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/ottoman.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/ottoman__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Ottoman</p>
        <p class="catalog__product-card-description">Great compliment to the Sofa</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/sofa.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/sofa__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Sofa</p>
        <p class="catalog__product-card-description">Kick back and chill</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Table</p>
        <p class="catalog__product-card-description">Great for meals</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/side-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/side-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Side Table</p>
        <p class="catalog__product-card-description">For books, deco, and more</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/team-desk-small.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/team-desk-small__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Team Desk - Small</p>
        <p class="catalog__product-card-description">Team workstation for 1-2 people</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/service-table-large.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/service-table-large__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Service Table - Large</p>
        <p class="catalog__product-card-description">For organizing stuff</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/shelve.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/shelve__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Shelve</p>
        <p class="catalog__product-card-description">To hang on a wall</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/coffee-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/coffee-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Coffee Table</p>
        <p class="catalog__product-card-description">Gotta love coffee breaks</p>
      </div>
    </div>
  </div>
</div>
