---
title: Catalog - Open Furniture
---

<div class="catalog__cover">
  <h1 class="catalog__cover-title vertical align">The Catalog</h1>
</div>

<div class="catalog__items-container">
  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="#work"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/working-category.png', class: 'catalog__product-shot' %></a>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card">
        <a href="#dining"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/dining-category.png', class: 'catalog__product-shot' %></a>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="#home"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/home-category.png', class: 'catalog__product-shot' %></a>
      </div>
    </div>
  </div>
</div>

<div id="work" class="catalog__cover-work">
  <div class="vertical align">
    <h1 class="catalog__cover-title">Working Line <br> —</h1>
    <p class="catalog__cover-text">Designed for working enthusiasts <br>
      and all sorts of environments.</p>
  </div>
</div>

<div class="catalog__items-container">
  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/team-desk-small.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/team-desk-small__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Small Desk</p>
        <p class="catalog__product-card-description">One person only. For those who like to go solo</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/team-desk-large.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/team-desk-large__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Large Desk</p>
        <p class="catalog__product-card-description">Our biggest table. Designed for groups sessions, meeting rooms and team working</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/team-desk-medium.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/team-desk-medium__product+shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Medium Desk</p>
        <p class="catalog__product-card-description">Mid-size work station with just enough space for team working</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card">
        <a href="../furniture/standing-desk.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/stand-up-desk__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Standing Desk</p>
        <p class="catalog__product-card-description">One of the essentials must-have in your work environment</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/booth.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/booth__product+shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Booth</p>
        <p class="catalog__product-card-description">For lounging and remote calls</p>
      </div>
    </div>
  </div>
</div>

<div id="dining" class="catalog__cover-dining">
  <div class="vertical align">
    <h1 class="catalog__cover-title">Dining Line <br> —</h1>
    <p class="catalog__cover-text">Simple furniture for great cooks <br>
      and food lovers.</p>
  </div>
</div>

<div class="catalog__items-container">
  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/service-table-large.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/service-table-large__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Large Service Table</p>
        <p class="catalog__product-card-description">In practical terms, this could be used as a kitchen set</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/tall-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/tall-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">High Table</p>
        <p class="catalog__product-card-description">Perfect for stand-up coffee breaks and short meetings</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/service-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/service-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Service Table</p>
        <p class="catalog__product-card-description">For basic storage and food service</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Table</p>
        <p class="catalog__product-card-description">Standard size table for lunch gatherings or team working</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/shelve.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/shelve__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Shelve</p>
        <p class="catalog__product-card-description">Designed as bookshelf or kitchen shelve</p>
      </div>
    </div>
  </div>
</div>

<div id="home" class="catalog__cover-home">
  <div class="vertical align">
    <h1 class="catalog__cover-title">Home Line <br> —</h1>
    <p class="catalog__cover-text">Your basics for comfort and home feeling.</p>
  </div>
</div>

<div class="catalog__items-container">
  <div class="row">
    <div class="col-8">
      <div class="catalog__product-card left">
        <a href="../furniture/tv-console.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/tv-console__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">TV Console</p>
        <p class="catalog__product-card-description">Standard size for all sorts of electronic entertainment</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/lounge.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/lounge__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Lounge</p>
        <p class="catalog__product-card-description">Great for those chill times</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/ottoman.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/ottoman__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Ottoman</p>
        <p class="catalog__product-card-description">For extra comfort and addition to the Sofa</p>
      </div>
    </div>
    <div class="col-8">
      <div class="catalog__product-card right">
        <a href="../furniture/sofa.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/sofa__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Sofa</p>
        <p class="catalog__product-card-description">A must-have for lounging</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card left">
        <a href="../furniture/coffee-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/coffee-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Coffee Table</p>
        <p class="catalog__product-card-description">Essential center piece for lounge rooms</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card">
        <a href="../furniture/cart.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/cart__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Cart</p>
        <p class="catalog__product-card-description">Storage console for taking anywhere</p>
      </div>
    </div>
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/stool.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/stool__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Stool</p>
        <p class="catalog__product-card-description">Basic piece for a very simple use</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="catalog__product-card right">
        <a href="../furniture/side-table.html"><%= image_tag '//s3-us-west-2.amazonaws.com/il-open-furniture/product-shots/side-table__product-shot.png', class: 'catalog__product-shot' %></a>
        <p class="catalog__product-card-title">Side Table</p>
        <p class="catalog__product-card-description">Basic complement for lounge rooms</p>
      </div>
    </div>
  </div>
</div>
